# デフォルトの無視ファイル
/shelf/
/workspace.xml
# データソースのローカルストレージがファイルを無視しました
/../../../../../../../../:\Users\ht19a084\Documents\Class\Java\04-23\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
